
.home{
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.hero{
  height: 70%;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
